@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 100% !important;
  width: 100% !important;
}
.leaflet-left {
  left: 320px !important;
}


body {
  margin: 0;
}


